# Database Configuration
DB_NAME=rsgumato
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Django Settings
SECRET_KEY=django-insecure-0t^jane#zwpvj@r-9$(8g@$)ex%e6j%v6(!#4i%rfof40*k24@
DEBUG=True
